        body {
            background-image: url("../images/backgroundPET1.jpg");
        }

        
        .nav {
            background-color: rgb(0, 0, 0,0.8);
            text-decoration-color: white;
        }

        .nav-link {
            color: white;
        }

        .nav-link:hover {
            color: white;
            background-color:   rgb(113, 11, 72);
        }
        .jumbotron {
            background-image: url("../images/jumboTron.jpg");
            height: 45%;
            width: 45%;
            background-size: cover;
            text-align: left;
        } 

        #jTronText {
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
        }
        .lead {
            color: darkred;
        }

        #about {
            background-color:    rgb(113, 11, 72);
            border-color: blanchedalmond;
        }
      
        .btn-primary {
            color: #fff;
            background-color:    rgb(113, 11, 72);
            border-color: white;
        }
     


        #form {
            background-color: black;
            opacity: 20%;
            color: white;
        }